html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

.title-page {
	background-image: url(bg1-large.png);
	background-size: cover;
	background-repeat: no-repeat;
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0vh;
	left: 0vw;
}

h1 img {
	position: absolute;
	left: 21.5vw;
	top: 3vw;
	z-index: 0;
}

h1 {
	font-family: ivypresto-display,serif;
	font-weight: 400;
	font-style: normal;
	font-size: 12rem;
	text-align: center;
	color: white;
	padding: 15vh 0vh 0vh 0vh;
	z-index: 1;
}

.mobile-title-page {
	visibility: hidden;
}

#author {
	font-family: ivypresto-display, serif;
	font-weight: 300;
	font-style: normal;
	font-size: 3.5rem;
	color: #4A0718;
	margin: -9vh 0 0 50vw;
}

#intro-one {
	font-family: ivypresto-headline, serif;
	font-weight: 300;
	font-style: normal;
	color: black;
	font-size: 4rem;
	margin: 4vh 0 0 22vw;
	width: 50vw;
}

#intro-two {
	font-family: ivypresto-headline, serif;
	font-weight: 100;
	font-style: italic;
	font-size: 2.5rem;
	color: black;
	margin: 1vh 0 0 25vw;
}

#page-two {
	position: relative;
	top: 40vh;
}

a:link {
	color: white;
}

a:visited {
	color: yellow;
}

@media (max-width: 767px) {
	.mobile-title-page {
		visibility: visible;
	}

	#mobile-title {
		font-family: ivypresto-display,serif;
		font-weight: 400;
		font-style: normal;
		color: white;
		font-size: 7.5rem;
		margin: 3vh 0 0 8vw;
		width: 70vw;
	}

	#mobile-author {
		font-family: ivypresto-display, serif;
		font-weight: 300;
		font-style: normal;
		color: #776851;
		font-size: 2.5rem;
		margin: 0 0 0 28vw;
	}

	#mobile-intro-one {
		font-family: ivypresto-display, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 3rem;
	}

	#mobile-intro-two {
		font-family: ivypresto-headline, serif;
		font-weight: 100;
		font-style: italic;
		font-size: 1.5rem;
	}

	.title-page {
		visibility: hidden;
	}

	body {
		background-image: url(bg1-small.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 100vw;
	}

	#background-mobile img {
		position: absolute;
	}

	h1 {
		font-size: 7rem;
		width: 65vw;
		top: 3vh;
	}

	#i-light {
		visibility: hidden;
	}

	#author {
		position: relative;
		top: -1.7vh;
		left: 35vw;
		font-size: 2.5rem;
	}

	.page-two {
		width: 100vw;
	}

	#intro-three {
		margin: -40vh 0 0 10vw;
		left: 10vw;
		font-size: 2.25rem;
		width: 80vw;
		align-content: center;
	}

	#left {
		font-size: 2.25rem;
		margin: -1vh 0 0 13.5vw;
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		animation: slide-one 1s 5s;
		animation-fill-mode: forwards;
	}

	/*@keyframes slide-one {
		from {
			left: 15vw;
		}

		to {
			left: 4vw;
		}
	}*/

	#right {
		font-size: 2.25rem;
		margin: -4.7vh 0 0 39vw;
		width: 40vw;
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		animation: slide-two 1s 5.5s;
		animation-fill-mode: forwards;
	}

	/*@keyframes slide-two {
		from {
			margin: 0 0 0 10vw;
		}

		to {
			margin: -20vh 0 0 20vw;
		}
	}*/

	#two {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 2.5rem;
		margin: 0vh 0 0 15vw;

	}

	#closets {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 1.5rem;
		margin: 0vh 0 0 48vw;
	}

	#sleep {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 2.75rem;
		margin: 0vh 0 0 53vw;
		writing-mode: vertical-rl;
	}

	#fecal {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 1.85rem;
		width: 45vw;
		margin: 0vh 0 0 21vh;
		text-align: right;		
	}

	#through {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 2.5rem;
		margin: 0vh 0 0 32vw;
	}

	#here {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 2.5rem;
		color: white;
		margin: -0.1vh 0 0 35vw;
	}

}

}