html {
	font-size: 62.5%;
}

img {
	max-width: 100%;
}

body {
	background-image: url(bg1-large.png);
	background-size: cover;
	background-repeat: no-repeat;
	overflow-x: hidden;
}

#i-light {
	position: absolute;
	left: 22.5vw;
	top: 2vh;
}

h1 {
	font-family: ivypresto-display,serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6rem;
	position: relative;
	left: 14vw;
	top: 12vh;
	color: white;
}

#author {
	font-family: ivypresto-display, serif;
	font-weight: 300;
	font-style: normal;
	font-size: 4rem;
	color: #4A0718;
	position: relative;
	left: 57vw;
}

#intro-one {
	font-family: ivypresto-headline, serif;
	font-weight: 300;
	font-style: normal;
	position: relative;
	color: black;
	font-size: 4.5rem;
	left: 20vw;
	width: 50vw;
	top: 5vh;
}

#intro-two {
	font-family: ivypresto-headline, serif;
	font-weight: 100;
	font-style: italic;
	font-size: 3rem;
	color: black;
	position: relative;
	left: 30vw;
	top: 7.5vh;
}

#page-two {
	position: relative;
	top: 40vh;
}

a:link {
	color: white;
}

a:visited {
	color: yellow;
}

@media (max-width: 767px) {
	body {
		background-image: url(bg1-small.png);
		background-size: cover;
		background-repeat: no-repeat;
		overflow-x: hidden;		
	}

	h1 {
		font-size: 7rem;
		width: 65vw;
		top: 3vh;
	}

	#i-light {
		visibility: hidden;
	}

	#author {
		position: relative;
		top: -1.7vh;
		left: 35vw;
		font-size: 2.5rem;
	}

	#intro-one {
		position: relative;
		font-size: 2.3rem;
		width: 80vw;
		left: 8vw;
		top: 3vh;
	}

	#intro-two {
		position: relative;
		left: 15vw;
		top: 4vh;
		font-size: 1.4rem;
		width: 90vw;
	}

	#intro-three {
		position: relative;
		left: 10vw;
		font-size: 2.25rem;
		width: 80vw;
		top: -35vh;
	}

	#left {
		position: relative;
		font-size: 2.25rem;
		left: 15vw;
		top: -34vh;
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		animation: slide-one 1s 5s;
		animation-fill-mode: forwards;
	}

	@keyframes slide-one {
		from {
			left: 15vw;
		}

		to {
			left: 4vw;
		}
	}

	#right {
		position: relative;
		font-size: 2.25rem;
		left: 40vw;
		width: 40vw;
		top: -38.7vh;
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		animation: slide-two 1s 5.5s;
		animation-fill-mode: forwards;
	}

	@keyframes slide-two {
		from {
			left: 40vw;
		}

		to {
			left: 54vw;
		}
	}

	#two {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		position: relative;
		font-size: 2.5rem;
		left: 25vw;
		top: -35vh;

	}

	#closets {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 1.5rem;
		position: relative;
		left: 48vw;
		top: -35vh;
	}

	#sleep {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 2.75rem;
		position: relative;
		left: 52vw;
		top: -33vh;
		writing-mode: vertical-rl;
	}

	#fecal {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 2rem;
		position: relative;
		width: 50vw;
		left: 20vw;
		top: -32vh;
		text-align: right;		
	}

	#through {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		position: relative;
		font-size: 2.5rem;
		top: -30vh;
		left: 35vw;
	}

	#here {
		font-family: ivypresto-headline, serif;
		font-weight: 300;
		font-style: normal;
		font-size: 2.5rem;
		position: absolute;
		color: white;
		top: -0.1vh;
		left: 35vw;
	}

}

}