body {
	min-width: 100%;
	height: 100vh;
	overflow: wrap;
}

.block {
	position: absolute;
}

.cabinet {
	position: relative;
	width: 36vw;
	height: 82vh;
	left: 5vw;
	top: 8vh;
}

#red {
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: red;
	top: 0vh;
}

#brown {
	position: absolute;
	width: 50%;
	height: 100%;
	left: 50%;
	background-color: brown;
	top: 0vh;
}

#rb-glow {
	position: absolute;
	background-origin: black;
	margin-top: -30%;
	margin-left: -25%;
	width: 150%;
	height: 150%;
	border-radius: 110% / 105%;
}

#rb-glow:hover {
	background-image: radial-gradient(rgba(255, 115, 132, 1), rgba(255,236,245,0.7)55%, rgba(255,255,208,0.1) 70%);
	transition: ease;
	z-index: 20;
}

.cabinet-two {
	position: relative;
	width: 51vw;
	height: 50vh;
	margin-top: -74vh;
	margin-left: 43vw;
}

#green {
	position: absolute;
	width: 50%;
	height: 100%;
	background-color: #9AFF4B;
}

#yellow {
	position: absolute;
	width: 50%;
	left: 50%;
	height: 100%;
	background-color: #FFF50D;
}

#gy-glow {
	position: absolute;
	top: -10%;
	left: -10%;
	width: 120%;
	height: 120%;
	border-radius: 120% / 60%;
}

#gy-glow:hover {
	background-image: radial-gradient(yellow, rgba(255,255,255,0.5) 65%, rgba(255,255,255,0) 70%);
	transition: ease;
}

.drawer {
	position: relative;
	width: 51vw;
	height: 28vh;
	margin-left: 43vw;
	margin-top: 4vh;
}

#blue {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: aqua;
}

#b-glow {
	position: absolute;
	margin-top: -10%;
	margin-left: -25%;
	width: 150%;
	height: 150%;
	border-radius: 120% / 115%;
}

#b-glow:hover {
	background-image: radial-gradient(rgba(172, 255, 235, 0.9), rgba(172,255,235,0.6) 60%, rgba(255,255,255,0) 70%);
	transition: ease;
	z-index: 30;
}
