body {
	background-color: darkseagreen;
}

.profile {
	position: absolute;
	left: 3vw;
	float: left;
	width: 90%;
}

h1 {
	position: relative;
	left: 12vw;
	top: 1.5vh;
	font-family: whomp,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6vw;
	color: indianred;
}

img {
	float: left;
	top: 1vh;
	left: 5vw;
	border: solid lightcoral 8px;
	width: 18.25vw;
	height: 41vh;
}


h3 {
	font-family: aesthet-nova, serif;
	font-weight: 500;
	font-style: normal;
	font-size: 2vw;
	color: purple;
	padding: 1vw;
	background-color: palegoldenrod;
}

.content {
	font-family: aesthet-nova, serif;
	font-weight: 300;
	font-style: normal;
	font-size: 1.25vw;
	color: purple;
	border: solid 8px lightcoral;
	padding: 1.5vw;
	background-color: moccasin;
	border-radius: 2vw;
}

#intro {
	width: 20vw;
	float: left;
	margin: 2vw;
}

#more {
	float: right;
	width: 40vw;
}

 #web-ring {
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 15px;
    background-color: rgb(52, 86, 228);
    border: solid 2px white;
    font-family: sans-serif;
  }

  #web-ring a:link {
    color: white;
    text-decoration: none;
  }

  #web-ring a:hover {
    text-decoration: underline;
  }

.grid {
	position: relative;
	margin-left: 5vw; 
	width: 45vw;
	height: 45vw;
	margin-top: 88vh; 
	margin-bottom: 5vh;
}  

.fireflies {
	position: relative;
	top: -5vh;
	margin-left: 2vw; 
	width: 22vw;
	height: 22vw;
}

.poem {
	position: relative;
	width: 80vw;
	height: 50vh;
	margin-left: 5vw;
}

