body {
	background-color: deepskyblue;
}

h1 {
	position: relative;
	top: 5vh;
	left: 5vw;
	font-family: acier-bat-outline,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 6vw;
	color: white;
}

ol {
	position: relative;
	left: 10vw;
	font-family: proxima-nova,sans-serif;
	font-weight: 400;
	font-style: normal;
	width: 70vw;
	font-size: 1.5vw;
}