body {
	min-width: 100vw;
	height: 100vh;
	background-image: radial-gradient(#E3FFFD 20%, #BAF7FF 65%, #B8CCFE 100%);
	overflow-y: hidden;
}

.drink-container {
	position: absolute;
	display: flex;
	overflow: auto;
	width: 100%;
	height: 80%;
	z-index: 20;
	top: 10%;
}

.food-container {
	position: absolute;
	display: flex;
	overflow: auto;
	width: 100%;
	height: 80%;
	z-index: 20;
	top: 10%;
}

.shelf {
	height: 50vh;
	min-width: 101vw;
	left: -1vw;
}

.shelf-top {
	position: absolute;
	width: 100%;
	height: 25%;
	bottom: 0vh;
}

#blue-shelf {
	background-color: #00C2FF;
}

#peach-shelf {
	background-color: #FA8372;
}

.shelf-side {
	position: absolute;
	width: 100%;
	height: 7%;
	bottom: 0vh;
}

#blue-shadow {
	background-color: #0085FF;
}

#orange-shadow {
	background-color: #FF4025;
}

#drinks {
	position: relative;
	margin-top: -1vh;
	margin-left: 0vw;
}

#food {
	position: relative;
}

