html {
	font-size: 62.5%;
}

body {
	min-width: 100vw;
	max-height: 100vh;
	background-image: radial-gradient(#FFAAD3, #FF6D64 75%, #D97C5F);
	font-family: bc-liguria,sans-serif;
	font-weight: 400;
	font-style: normal;
	overflow-y: wrap;
}

.shelf {
	position: relative;
	left: -1vw;
	height: 50vh;
	width: 101vw;
}

.food-container {
	position: absolute;
	display: flex;
	align-items: flex-end;
	overflow: auto;
	width: 100%;
	height: 80%;
	z-index: 20;
	top: 10%;
}

.food-container > img {
	max-height: 100%;
}

#food {
	margin-top: -2vh;
	position: relative;
	bottom: -2vh;
}

#yellow-shelf {
	position: absolute;
	height: 25%;
	width: 100%;
	background-color: #FFF740;
	bottom: 0vh;
}

.shelf-side {
	position: absolute;
	width: 100%;
	height: 7%;
	bottom: 0vh;
}

#orange-shadow {
	background-color: #FFA54A;
}

.above-snacks {
	margin-top: -1vh;
	position: relative;
	width: 101vw;
	height: 50vh;
	left: -1vw;
}

.label {
	position: absolute;
	border-radius: 10vw / 5vw; 
	width: 20vw;
	height: 10vw;
	font-size: 3.5vw;
	background-color: #CDFFF6;
	color: #00B3CB;
	display:flex;
	justify-content: center;
	align-items: center;
}

#herbal {
	top: 5vh;
	left: 5vw;
	animation: h-float 4.5s linear infinite;
}

#herbal:hover {
	animation-play-state: paused;
	background-color: #00D1DE;
	color: white;
}

@keyframes h-float {
	0% {
		top: 5vh;
		left: 5vw;
	}

	40% {
		top: 20vh;
		left: 80vw;
	}

	80% {
		top: 35vh;
		left: 20vw;
	}

	100% {
		top: 5vh;
		left: 5vw;
	}
}

#creamy {
	top: 10vh;
	left: 75vw;
	animation: c-float 4.5s linear 0.5s infinite;
}

#creamy:hover {
	animation-play-state: paused;
	background-color: #00D1DE;
	color: white;
}

@keyframes c-float {
	0% {
		top: 10vh;
		left: 75vw;
	}

	50% {
		top: 40vh;
		left: 2vw;
	}

	60% {
		top: 15vh;
		left: 5vw;
	}

	100% {
		top: 10vh;
		left: 75vw;
	}
}

#fruity {
	top: 2vh;
	left: 2vw;
	animation: f-float 4.5s linear 0.5s infinite;
}

@keyframes f-float {
	0% {
		top: 2vh;
		left: 2vw;
	}

	50% {
		top: 40vh;
		left: 75vw;
	}

	70% {
		top: 15vh;
		left: 60vw;
	}

	100% {
		top: 2vh;
		left: 2vw;
	}
}

#fruity:hover {
	animation-play-state: paused;
	background-color: #00D1DE;
	color: white;
}
	