/*body {
	overflow: hidden;
}*/

.shelf {
	height: 50vh;
	width: 100vw;
}

.yellow-shelf {
	position: absolute;
	width: 100%;
	height: 25%;
	bottom: 0vh;
	background-color: #FFF737;
}

.green-shadow {
	position: absolute;
	width: 100%;
	height: 7%;
	bottom: 0vh;
	background-color: #9AFF4B;
}

#drinks {
	position: relative;
	margin-top: 0vh;
	margin-left: 0vw;
}

#blue-bg {
	position: absolute;
	background-color: #75FFF7;
	width: 100%;
	height: 100%;
}

#shelf {
	position: relative;
	display: inline;
}

#food {
	height: 50vh;
}

#orange-bg {
	position: absolute;
	background-color: #FF7E36;
	width: 100vw;
	height: 50vh;
}

#food-shelf {
	position: absolute;
	height: 15%;
	margin-bottom: -1vh;
}