body {
	background-color: #B5FFF3;
}

.paper {
	position: relative;
	background-color: #FEFEF5;
	top: 5vh;
	left: 12vw;
	width: 75vw;
	padding: 5vh;
	animation: slide 2s 1;
}

@keyframes slide {
	0% {
		position: relative;
		top: -50vh;
		left: -80vw;
		transform: rotate(45deg);
	}

	100% {
		top: 5vh;
		left: 12vw;
		transform: rotate(0deg);
	}
}

.question {
	position: relative;
	font-family: hellofont-id-daocaoren,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 4vw;
	left: 5.5vw;
	margin: 2vh;
	border-radius: 10vw;
	padding: 1.75vw;
}

.answer {
	position: relative;
	font-family: reenie-beanie,sans-serif;
	font-weight: 500;
	font-style: normal;
	text-align: right;
	font-size: 4vw;
	padding: 1.75vw;
	margin-bottom: 5vh;
}

#text-input {
	position: absolute;
	margin-top: 5vh;
	top: 105%;
	left: 5vw;
	width: 50vw;
	height: 10vh;
	font-size: 4vw;
}