body {
	background-color: paleturquoise;
	overflow: wrap;
	width: 100vw;
	height: 100vh;
}

#circle {
	position: absolute;
	border-radius: 50%;
	width: 13vw;
	height: 13vw;
	background-color: yellow;
	left: 43vw;
	top: 5vh;
	z-index: 10;
	cursor: pointer;
}

#circle:hover ~ #ocean {
	animation: 5s running infinite pull;
}


#ocean {
	position: absolute;
	top: 30vh;
	width: 103vw;
	height: 100vh;
	background-color: lightseagreen;
	animation: 3s paused infinite pull;
	z-index: 0;
}

@keyframes pull {
	0% {top: 30vh;}
	50% {top: 100vh;}
	100% {top: 30vh;}
}

