body {
	background-color: lightcyan;
	overflow: wrap;
}

.circle {
	position: absolute;
	border-radius: 50%;
	width: 13vw;
	height: 13vw;
	background-color: yellow;
	left: 43vw;
	top: 5vh;
	z-index: 10;
}

.ocean {
	position: absolute;
	top: 100vh;
	left: -2vw;
	width: 102vw;
	height: 100vh;
	background-image: linear-gradient(lightcyan, lightseagreen);
	animation: pull 3s 1;
	z-index: 0;
}

@keyframes pull {
	0% {top: 100vh;}
	100% {top: 5vh;}
}