body {
	background-image: url(pool.jpg);
}


#hao-wan {
	position: absolute;
	top: 4vh;
	left: 15vw;
	width: 20vw;
}

#spotify {
	position: absolute;
	top: 6vw;
	left: 35vw;
	width: 44vw;
	height: 80vh;
	border: solid purple 10px;
	background-color: purple;
}

#sparkle1 {
	position: relative;
	width: 3vw;
	top: -90vh;
	left: 10vw;
	animation: show 2s infinite;
}

@keyframes show {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

#sparkle2 {
	position: absolute;
	top: -1vh;
	left: 5vw;
	animation: show 3s 1s infinite;
}

#sparkle3 {
	position: relative;
	top: -60vh;
	left: -25vw;
	animation: show 2s 2.5s infinite;
}

#sparkle4 {
	position: absolute;
	left: -2vw;
	top: -1vh;
	animation: show 3s 3.5s infinite;
}

#sparkle5 {
	position: absolute;
	left: 43.5vw;
	top: 60vh;
	animation: show 2s 5s infinite;
}