body {
	background-color: #FE3D00;
	background-color: #FE3D00;
	font-family: ar-yuangbstd, sans-serif;
	font-weight: 500;
	font-style: normal; 
	min-width: 100vw;
	min-height: 100vh;
}

#text-input {
	position: sticky;
	top: 100vh;
	margin-top: 10vh;
	width: 50vw;
	height: 10vh;
	font-size: 4vw;
}

.question {
	font-size: 4vw;
	left: 5.5vw;
	background-color: #D6FFA3;
	margin: 2vh;
	border-radius: 10vw;
	padding: 1.75vw;
}

.answer {
	text-align: right;
	background-color: white;
	font-size: 4vw;
	border-radius: 10vw;
	margin: 2vh;
	padding: 1.75vw;
}

button {
	font-size: 4vw;
	padding: 1vw;
	align-items: center;
}

.understood {
	position: relative;
	background-color: white;
	width: 45vw;
}

.howtowrite {
	position: relative;
	float: left;
	background-color: #B5FFF3;
	width: 45vw;
}

#text-input {
	position: sticky;
	top: 110%;
	width: 50vw;
	height: 10vh;
	font-size: 4vw;
}



